:root { 
--gray_900_cc:#1f1f1fcc; 
--gray_900:#222222; 
--blue_gray_900_b2:#1c274cb2; 
--deep_purple_100:#d9cffb; 
--gray_50:#fafbff; 
--amber_A400:#ffcb00; 
--white_A700_cc:#fcfcffcc; 
--black_900:#000000; 
--gray_900_e5:#222222e5; 
--indigo_900:#1e2875; 
--blue_gray_900_33:#1c274c33; 
--white_A700_cc_01:#fcfdffcc; 
--white_A700:#ffffff; 
--indigo_800:#413b89; 
--black_900_26:#00000026; 
}